[Desktop Entry]
Name=Flora
Comment=Digital companion for your home garden
Exec=flora.sh
Icon=com.github.cadmiumcmyk.Flora
Terminal=false
Type=Application
# FIX: Added required semicolon at the end and a primary category
Categories=Utility;GTK;GNOME;
StartupNotify=true
