statuspage .title {
    font-size: 24pt;
    font-weight: 800;
    color: @accent_color;
}

.boxed-list {
    background-color: @card_bg_color;
    border-radius: 12px;
    padding: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.light-mode .boxed-list {
    background-color: #ffffff;
    color: #000000;
}

.dark-mode .boxed-list {
    background-color: #383838;
    color: #ffffff;
}

.task-boxed-list {
    background-color: @window_bg_color;
    border-radius: 12px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.suggested-action {
    background-color: @accent_bg_color;
    color: @accent_fg_color;
    font-weight: bold;
}

textview {
    margin: 6px 12px;
    padding: 12px;
    border-radius: 12px;
    background-color: @card_bg_color;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    
}

.editor-title-entry {
    margin: 6px 12px;
    border-radius: 12px;
    background-color: @card_bg_color;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.plant-detail-image {
    border-radius: 24px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.plant-card-image {
    border-radius: 24px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

calendar.rounded-calendar {
    border-radius: 12px;
    background-color: @card_bg_color;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    padding: 6px;
    border: none;
}

preferencesgroup > box > label {

}
